<mat-toolbar color="primary">
    <span>Despesas dos Senadores (2019) - {{nomeSenador}}</span>
</mat-toolbar>


<h2>Resumo de despesas</h2>
<!-- Tabela com o valores resumidos -->
<table class="table" mat-table [dataSource]="despesasPorTipo">

    <!-- Position Column -->
    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo de despesa </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.tipo | descTipo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.total | number: '1.2-2'}} </td>
        <th mat-header-cell *matHeaderCellDef> {{calculaTotal() | number: '1.2-2'}} </th>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['tipo', 'valor']"></tr>
    <tr mat-row *matRowDef="let row; columns:['tipo', 'valor'];"></tr>
</table>


<h2>Discrimição das Despesas</h2>
<!-- Tabela com os valores detalhados -->
<table class="table" mat-table [dataSource]="despesas">

    <!-- Position Column -->
    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo de despesa </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.tipo | descTipo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fornec">
        <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.fornec}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let despesa">
            {{despesa.dia | number: '2.0-0'}}/{{despesa.mes | number: '2.0-0'}}/{{despesa.ano}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.valor}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['tipo', 'fornec', 'data', 'valor']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['tipo', 'fornec', 'data', 'valor']"></tr>
</table>